[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
langdetect = "*"
tqdm = "*"
numpy = "*"
bs4 = "*"
hoep = "*"
pandas = "*"
lxml = "*"

[requires]
python_version = "3.7"
